% == Settings File ==
% Start a line with % to comment
% This file is rewritten every time ProofAssistant closes by selecting file, close
% Editing values will launch the assistant with the values supplied

%% Booleans affecting the proof system %%
% Run Magic Mode after instances of universal elimination
runMagicModeWithQa=false
% Reverse the order for conjunction introduction
reverseConIntro=true

%% Non-boolean proof system settings
% Set the arities to use
aritiyS=, a0, b0, c0, d0, e0, f1, a'0, g2, h2, S1, s0, t0, u0,,,,,,,,,,,,,,,

%% Controls for visual tweaks
% Use ≠ for ~( = )
useNeq=true
% Show brackets around all terms
showBrackets=false
% Make out of scope lines appear grey
outOfScopeIsGrey=false
% Set the zoom factor (1 is 100%)
zoomFactor=2.8500004
% Choose which symbols to use. 0 is Auckland style, 1 uses arrows
currentOpsIndex=1
% Show numbers rather than ss0 etc.
qShowNumbers=true
% Number lines top to bottom
numberTopDown=false
% Amount to offset line numbers
numberOffset=0
%% Current Preset
% The following constitutes the current rule settings
;startruleset
eqIntro=true
universalsShortcuts=false
autoParameters=true
Elim=false
qeIntro=true
conElim=true
eqIdentityBoxes=false
nomIntro=false
impElim=true
equElim=true
nomElim=false
Q=false
induction=false
secondOrder=false
atElim=false
equIdentityBoxes=false
atIntro=false
conIntro=true
falsumElim=false
qaIntro=true
falsNeElim=false
eqElim=true
boxIntro=false
disIntro=true
disElim=true
negElim=true
showContext=false
sameLine=true
negIntro=true
qaElim=true
selfElim=false
diaIntro=false
Intro=false
diaElim=false
equIntro=true
impIntro=true
doubleNegation=true
qeElim=true
selfIntro=false
boxElim=false
;
%% List of Presets
% Each preset starts with :Name followed by the name
% Each following line is a rule to include in the preset
% Preset ends at :
:NJ
conIntro
conElim
disIntro
disElim
negIntro
negElim
impIntro
impElim
equIntro
equElim
qaIntro
qaElim
qeIntro
qeElim
eqIntro
eqElim
autoParameters
sameLine

:
:NK
conIntro
conElim
disIntro
disElim
negIntro
negElim
impIntro
impElim
equIntro
equElim
qaIntro
qaElim
qeIntro
qeElim
eqIntro
eqElim
autoParameters
sameLine
doubleNegation

:
:NK+
conIntro
conElim
disIntro
disElim
negIntro
negElim
impIntro
impElim
equIntro
equElim
qaIntro
qaElim
qeIntro
qeElim
eqIntro
eqElim
autoParameters
sameLine
doubleNegation
eqIdentityBoxes
equIdentityBoxes
universalsShortcuts

:
:Q
conIntro
conElim
disIntro
disElim
negIntro
negElim
impIntro
impElim
equIntro
equElim
qaIntro
qaElim
qeIntro
qeElim
eqIntro
eqElim
autoParameters
sameLine
doubleNegation
eqIdentityBoxes
equIdentityBoxes
universalsShortcuts
Q

:
:PA
conIntro
conElim
disIntro
disElim
negIntro
negElim
impIntro
impElim
equIntro
equElim
qaIntro
qaElim
qeIntro
qeElim
eqIntro
eqElim
autoParameters
sameLine
doubleNegation
eqIdentityBoxes
equIdentityBoxes
universalsShortcuts
Q
induction

:
:H
conIntro
conElim
disIntro
disElim
negIntro
negElim
impIntro
impElim
equIntro
equElim
qaIntro
qaElim
qeIntro
qeElim
eqIntro
eqElim
autoParameters
sameLine
doubleNegation
eqIdentityBoxes
equIdentityBoxes
universalsShortcuts
showContext
diaIntro
diaElim
boxIntro
boxElim
atIntro
atElim
nomIntro
nomElim
selfIntro
selfElim

:
:PA
eqIntro
universalsShortcuts
qaIntro
autoParameters
eqElim
disIntro
disElim
negElim
qeIntro
conElim
eqIdentityBoxes
sameLine
impElim
equElim
negIntro
qaElim
Q
induction
equIntro
impIntro
doubleNegation
qeElim
equIdentityBoxes
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:Simple Deduction
qaElim
autoParameters
disIntro
qeIntro
conElim
sameLine
equElim
impElim
conIntro

:
:NJ
eqIntro
qaIntro
autoParameters
eqElim
disIntro
disElim
negElim
qeIntro
conElim
sameLine
impElim
equElim
negIntro
qaElim
equIntro
impIntro
qeElim
conIntro

:
:NJ
eqIntro
qaIntro
autoParameters
eqElim
disIntro
disElim
negElim
qeIntro
conElim
sameLine
impElim
equElim
negIntro
qaElim
equIntro
impIntro
qeElim
conIntro

:
:NJ
eqIntro
qaIntro
autoParameters
eqElim
disIntro
disElim
negElim
qeIntro
conElim
sameLine
impElim
equElim
negIntro
qaElim
equIntro
impIntro
qeElim
conIntro

:
:NJ
eqIntro
qaIntro
autoParameters
eqElim
disIntro
disElim
negElim
qeIntro
conElim
sameLine
impElim
equElim
negIntro
qaElim
equIntro
impIntro
qeElim
conIntro

:
:NJ
eqIntro
qaIntro
autoParameters
eqElim
disIntro
disElim
negElim
qeIntro
conElim
sameLine
impElim
equElim
negIntro
qaElim
equIntro
impIntro
qeElim
conIntro

:
:NK
eqIntro
qaIntro
autoParameters
eqElim
disIntro
disElim
negElim
qeIntro
conElim
sameLine
equElim
impElim
negIntro
qaElim
equIntro
impIntro
doubleNegation
qeElim
conIntro

:
:NK
eqIntro
qaIntro
autoParameters
eqElim
disIntro
disElim
negElim
qeIntro
conElim
sameLine
equElim
impElim
negIntro
qaElim
equIntro
impIntro
doubleNegation
qeElim
conIntro

:
:NK
eqIntro
qaIntro
autoParameters
eqElim
disIntro
disElim
negElim
qeIntro
conElim
sameLine
equElim
impElim
negIntro
qaElim
equIntro
impIntro
doubleNegation
qeElim
conIntro

:
:NK
eqIntro
qaIntro
autoParameters
eqElim
disIntro
disElim
negElim
qeIntro
conElim
sameLine
equElim
impElim
negIntro
qaElim
equIntro
impIntro
doubleNegation
qeElim
conIntro

:
:NK
eqIntro
qaIntro
autoParameters
eqElim
disIntro
disElim
negElim
qeIntro
conElim
sameLine
equElim
impElim
negIntro
qaElim
equIntro
impIntro
doubleNegation
qeElim
conIntro

:
:NK
eqIntro
qaIntro
autoParameters
eqElim
disIntro
disElim
negElim
qeIntro
conElim
sameLine
equElim
impElim
negIntro
qaElim
equIntro
impIntro
doubleNegation
qeElim
conIntro

:
